.noteInput {
    margin: 20px 0px 0px 0px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
    background: #f8f8f8;
}

.event-edit {
    margin: 20px 0px 0px 0px;
    background: #faf6fe;
    padding: 20px;
}

.todo-edit {
    margin: 20px 0px 0px 0px;
    background: #f0f9fc;
    padding: 20px;
}