
.body {
    background: #929193;
}

/* TODO PAGE */

.todo-container {
    border: none;
    border-radius: 4px;
    background-color: #f0f9fc;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

/* Events */

.event-item {
    padding: 20px;
    background: #fef6fd;
    border-radius: 4px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.title-and-text {
    display: flex;
}

.yes {
    color: green;
}

.hidden {
    display: none;
}

/* error notice */

.error-notice {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid #e07c7c;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8d6d6;
  }
  .error-notice button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #df4343;
    color: #ffffff;
  }

  .vibes {
      font-family: 'Great Vibes', cursive;
  }

  .section-heading {
      background: white;
      padding: 5px;
  }

  /* File Upload */
.file-section {
    display: flex;
    justify-content: space-between;
}

.library {
    background: #f6f7ff;
    padding: 20px;
    border-radius: 4px;
}

